body{
    background-color:#57ffd8;
}

h1{
    color:#ff578c;
    background-color:#f7ff57;
    font-family: Snell Roundhand, cursive;
}
#label{
    font-weight: 600;
    font-size: 25px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

#confidence{
    font-weight: 600;
    font-size:  20px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

#sketch_name{
    font-weight: 600;
    font-size:  20px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

#score{
    font-weight: 600;
    font-size:  25px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}


#time{
    font-weight: 600;
    font-size:  25px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}    

#time{
    float: right ;
}

canvas{
    border:5px solid white;
    border-radius: 20px;
    animation-name:example;
    animation-duration:4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{
        box-shadow: 2px 2px 38px red;
    }
    to{
        box-shadow: 2px 2px 38px rgb(0, 8, 255);
    }
   
   }

   #show_sketch{
       float: right;
   }